main {
	min-height: 100vh;
	width: 80%;
	margin: 0 auto;
}

.timer {
	position: absolute;
}

.inputContainer {
	padding-top: 4.8rem;
	display: flex;
	justify-content: center;
	margin-bottom: 2.4rem;
}

.boardContainer {
	display: grid;
	justify-content: center;
	min-height: 80vh;
	max-height: 800px;
	max-width: 800px;
	border: 0.5px solid rgb(105, 105, 105);
	margin: 0 auto;
}

.square {
	background-color: rgb(201, 201, 201);
	border: 0.5px solid rgb(97, 97, 97);
	cursor: pointer;
	transition: 100ms;
}

.square:hover {
	background-color: rgb(235, 235, 235);
}

.hidden {
	display: none;
}
